* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* style header section */
.headerContainer {
    background-image: url("../images/foot.jpg");
    height: 80vh;
    position: relative;
    background-size: cover;
}

#header {
    margin-top: 370px;
}

/* style about section */
.about {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 50px;
}

.about h2 {
    font-weight: 800;
}

.service {
    background-image: url("../images/s_image.jpg");
    background-size: cover;
    height: 40vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 130px;
}

.service h2 {
    font-weight: 800;
}

/* What we do */

.ourWork3 {
    display: none;
}

.ourWork2 {
    display: none;
}

.ourWork1 {
    display: none;
}

/* style portfolio section */
/* style form */

.form {
    background-image: url("../images/c_image.jpg");
    background-size: cover;
    height: 50vh;
    margin-top: 50px;
    background-color: transparent;
}

/*style button*/
#btn {
    padding: 6px;
    border-radius: 10px;
    width: 10vw;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

#nameInput {
    background: transparent;
    color: #f1f1f1;
}

#emailInput {
    background: transparent;
}

#textInput {
    background: transparent;
}

.submit {
    display: flex;
    margin-left: 25vw;
}

/* portfolio styling */
.project-heading {
    display: none;
    background: #f1f1f1;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    padding-right: 30%;
    padding-top: 25px;
    opacity: 0.8;
    transform: translate(-50%, -50%);
}